html {
  height: 100%;
  width: 100%;
}
.Page-2011 {
  background-color: #39FF14;
}

.rainbow-text {
  background: linear-gradient(to left, red, orange, yellow, green, blue, indigo, violet);
  -webkit-background-clip: text;  /* For 2011 */
  color: transparent;
  font-size: 3em;
}
.rainbow-border {
      width: 626px; /* Width of the image */
      height: 417px; /* Height of the image */
      border: 3px solid;
      border-image: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet);
      border-image-slice: 1;
    }
